<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/favicon/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Martin Fieber's Blog"
      href="/feed.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="google-site-verification"
      content="3EUDp2p1HY0eouMKX3PBvPSv3Mr6WNL-4sUYA2yNxz8"
    />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ description }}" />
    <meta property="twitter:creator" content="@MartinFieber" />
    <meta property="twitter:domain" content="{{ site.name }}" />
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />
    {%- if title %}
    <meta property="twitter:title" content="{{ title }}" />
    {%- endif %}
    <meta property="twitter:description" content="{{ description }}" />
    {%- if image %}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ site.url }}{{ image }}" />
    <meta property="twitter:image:alt" content="{{ imageAlt }}" />
    {%- endif %}
    {%- if title %}
    <meta property="og:title" content="{{ title }}" />
    {%- endif %}
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {%- if image %}
    <meta property="og:image" content="{{ site.url }}{{ image }}" />
    <meta property="og:image:alt" content="{{ imageAlt }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    {%- endif %}
    <script
      async
      defer
      data-domain="{{ site.name }}"
      src="https://analytics.martin-fieber.de/js/index.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        (() => (window.plausible.q = window.plausible.q || []).push(arguments));
      {%- if plausible %}
      window.plausible("{{ plausible }}", { props: { path: document.location.pathname } });
      {%- endif %}
    </script>
    {%- if hasImageCompare %}
    <script defer src="/scripts/image-compare.min.js"></script>
    {%- endif %}
    <title>{{ site.name }}{{ [" | ", title] | join if title else "" }}</title>
  </head>
  <body>
    <div class="content">
      <header>
        <h1>
          <a href="/" title="Take my back to start!">Martin Helmut Fieber</a>
        </h1>
      </header>
      <main>{{ content | safe }}</main>
      <footer>
        <a
          href="/legal-notice"
          title="Legal notice page includes address and contact information"
        >
          Legal notice
        </a>
        |
        <a
          href="/privacy-policy"
          title="Privacy policy includes cookie information, but there are no cookies"
        >
          Privacy policy
        </a>
        |
        <a href="/feed.xml" title="Atom feed">Feed</a>
        |
        <a
          href="/blog/my-blog"
          title="Additional information about this website, what to expect and how it was built."
        >
          About
        </a>
      </footer>
    </div>
  </body>
</html>
