<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="msapplication-TileColor" content="#6200ee" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="google-site-verification"
      content="3EUDp2p1HY0eouMKX3PBvPSv3Mr6WNL-4sUYA2yNxz8"
    />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ description }}" />
    <meta property="twitter:creator" content="@MartinFieber" />
    <meta property="twitter:domain" content="{{ site.name }}" />
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}" />
    {%- if image %}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ site.url }}{{ image }}" />
    <meta property="twitter:image:alt" content="{{ imageAlt }}" />
    {%- endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {%- if image %}
    <meta property="og:image" content="{{ site.url }}{{ image }}" />
    <meta property="og:image:alt" content="{{ imageAlt }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    {%- endif %}
    <script
      async
      defer
      data-domain="{{ site.name }}"
      src="https://analytics.martin-fieber.de/js/index.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        (() => (window.plausible.q = window.plausible.q || []).push(arguments));
      {%- if hasCode %}
      document.addEventListener("DOMContentLoaded", () => {
        if (typeof hljs !== "undefined") hljs.highlightAll();
      });
      {%- endif %}
    </script>
    {%- if hasCode %}
    <script defer src="/scripts/highlight.min.js"></script>
    {%- endif %}
    {%- if hasImageCompare %}
    <script defer src="/scripts/image-compare.min.js"></script>
    {%- endif %}
    <title>{{ site.name }} | {{ title }}</title>
  </head>
  <body>
    <div class="content">
      <header>
        <h1>
          <a href="/" title="Take my back to start!">Martin Helmut Fieber</a>
        </h1>
      </header>
      <main>
        <article>
          {% from 'components.njk' import badge with context %} {{ badge(series) }}
          <h2>{{ title }}</h2>
          <footer>
            <p>
              Posted on
              <time datetime="{{ page.date | htmlDateString }}">
                {{ page.date | postDate }}
              </time>
              {%- if lastmod %}
              <span class="optional">
                &#8212; Updated
                <time
                  datetime="{{ lastmod | htmlDateString }}">
                  {{ lastmod | postDate }}
                </time>
              </span>
              {%- endif %}
            </p>
          </footer>
          {{ content | safe }}
        </article>
        <p>
          <a href="/blog" title="Main blog page">← Show all blog posts</a>
        </p>
      </main>
      <footer>
        <a
          href="/legal-notice"
          title="Legal notice page includes address and contact information"
        >
          Legal notice
        </a>
        |
        <a
          href="/privacy-policy"
          title="Privacy policy includes cookie information, but there are no cookies"
        >
          Privacy policy
        </a>
        |
        <a href="/feed.xml" title="Atom RSS feed" target="_blank">RSS feed</a>
        |
        <a
          href="/blog/my-blog"
          title="Additional information about this website, what to expect and how it was built."
        >
          About
        </a>
      </footer>
    </div>
  </body>
</html>
