@page {
  size: A4 portrait;
}

body * {
  --color-text: var(--color-grey-900);
  --color-highlight: var(--color-grey-900);
}

body *.hljs * {
  --color-code-attribute: #aa5d00;
  --color-code-symbol: green;
  --color-code-keyword: #7928a1;
  --color-code-class: #d91e18;
  --color-code-title: #007faa;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 12pt;
}

p,
blockquote,
ul li,
ol li,
figcaption,
.side-note p,
.callout p,
.list figcaption {
  font-size: 12pt;
}

p code,
li code,
pre code.hljs {
  font-size: 0.8rem;
}

.redacted::after {
  background: var(--color-grey-900);
  box-shadow: none;
}

.content {
  max-width: none;
}

article:first-child {
  page-break-inside: auto;
}

article {
  page-break-inside: avoid;
}

main + footer {
  display: none;
}
