.website {
    /* Typography */
    --base-font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
        Helvetica, Arial, 'Lucida Grande', sans-serif;

    /* Sizes */
    --size-100: 1px;
    --size-200: 2px;
    --size-300: 5px;
    --size-400: 10px;
    --size-500: 20px;
    --size-600: 30px;
    --size-700: 40px;
    --size-800: 60px;
    --size-900: 80px;
}
