/* General */

:root {
  /* Typography */
  --base-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;

  /* Sizes */
  --size-100: 1px;
  --size-300: 5px;
  --size-400: 10px;
  --size-500: 20px;
  --size-600: 30px;
  --size-700: 40px;

  /* Colors */
  --color-blue-100: #f5f1ff;
  --color-blue-200: #b392f7;
  --color-blue-300: #7232ff;
  --color-blue-500: #6200ee;
  --color-blue-700: #5200ac;
  --color-blue-800: #3b2e4d;
  --color-blue-900: #191223;

  --color-grey-200: #f1f1f1;
  --color-grey-300: #dcdcdc;
  --color-grey-500: #aaaaaa;
  --color-grey-700: #767676;
  --color-grey-800: #595959;
  --color-grey-900: #0f0f0f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* Dark and Light Theme setup */

body {
  --color-text: var(--color-grey-900);
  --color-text-secondary: var(--color-grey-800);
  --color-text-dark: var(--color-grey-700);
  --color-highlight: var(--color-blue-500);
  --color-low-contrast: var(--color-grey-200);
  --color-high-contrast: white;

  --font-weight-normal: 300;
  --font-weight-bold: 700;

  background: white;
}

body.dark-theme {
  --color-text: var(--color-grey-200);
  --color-text-secondary: var(--color-grey-500);
  --color-text-dark: var(--color-grey-500);
  --color-highlight: var(--color-blue-200);
  --color-low-contrast: var(--color-blue-800);
  --color-high-contrast: var(--color-blue-900);

  --font-weight-normal: 250;
  --font-weight-bold: 600;

  background: var(--color-blue-900);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-text: var(--color-grey-200);
    --color-text-secondary: var(--color-grey-500);
    --color-text-dark: var(--color-grey-500);
    --color-highlight: var(--color-blue-200);
    --color-low-contrast: var(--color-blue-800);
    --color-high-contrast: var(--color-blue-900);

    --font-weight-normal: 250;
    --font-weight-bold: 600;

    background: var(--color-blue-900);
  }

  body.light-theme {
    --color-text: var(--color-grey-900);
    --color-text-secondary: var(--color-grey-800);
    --color-text-dark: var(--color-grey-700);
    --color-highlight: var(--color-blue-500);
    --color-low-contrast: var(--color-grey-200);
    --color-high-contrast: white;

    --font-weight-normal: 300;
    --font-weight-bold: 700;

    background: white;
  }
}

.theme-toggle {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 0 auto;
  padding: 0;
  background: none;
  color: var(--color-highlight);
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  -webkit-appearance: none;
  border: none;
}

.theme-toggle:hover {
  text-decoration: underline;
}

/* Structural */

.content {
  margin: 0 auto;
  max-width: 660px;
  padding: var(--size-500);
}

header {
  margin: 0 0 var(--size-600) 0;
}

main + footer {
  display: flex;
  gap: var(--size-300);
  flex-wrap: wrap;
  font-family: var(--base-font);
  font-weight: var(--font-weight-normal);
  line-height: 1.65;
  border-top: var(--size-100) solid var(--color-grey-500);
  margin: var(--size-700) 0 0 0;
  padding: var(--size-400) 0 0 0;
  color: var(--color-text);
  font-size: 1rem;
}

section {
  border-top: 1px solid var(--color-grey-500);
  margin: var(--size-700) 0 0 0;
  padding: var(--size-700) 0 0 0;
}

.side-note-ref {
  position: relative;
}

.side-note {
  border-top: solid 1px var(--color-grey-300);
  border-bottom: solid 1px var(--color-grey-300);
  margin-bottom: var(--size-500);
  padding: var(--size-400) 0;
}

.callout {
  border: 1px solid var(--color-highlight);
  border-radius: var(--size-300);
  background: var(--color-blue-100);
  margin-bottom: var(--size-500);
  padding: var(--size-400);
}

.callout h4,
.callout h5 {
  font-size: 1rem;
  color: var(--color-highlight);
  margin-bottom: var(--size-300);
}

.callout h4::before,
.callout h5::before {
  content: "\024D8";
  margin-right: var(--size-300);
}

.callout code {
  background-color: var(--color-high-contrast);
}

body.dark-theme .callout {
  background: var(--color-low-contrast);
}

body.dark-theme aside.callout p {
  color: var(--color-grey-300);
}

@media (prefers-color-scheme: dark) {
  .callout {
    background: var(--color-low-contrast);
  }

  aside.callout p {
    color: var(--color-grey-300);
  }

  body.light-theme .callout {
    background: var(--color-blue-100);
  }

  body.light-theme .callout p {
    color: var(--color-text-secondary);
  }
}

.list figcaption {
  font-size: 1.3rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  display: inline;
  margin: 0 var(--size-300) 0 0;
}

.list ul,
.list ul li,
.list ul li:last-child {
  display: inline;
  padding: 0;
  margin: 0 var(--size-300) 0 0;
}

.list ul li:last-child {
  margin: 0;
}

.flag {
  display: flex;
  align-items: flex-start;
}

.flag-media {
  padding-top: var(--size-300);
  min-width: 60px;
}

.flag-media img {
  border-radius: var(--size-400);
}

.flag-media + .flag-content {
  margin-left: var(--size-400);
}

.flag-content + .flag-media {
  margin-right: var(--size-400);
}

/**
 * The min-width is calculated by the page width (660px)
 * plus twice the amount of the side note width (240px), as
 * the page is not centered and the side note "reaches" out
 * of the page on the right.
 * There are also 20px added (on both sides) to give the
 * whole some space. In short: `660 + (20 + 240) * 2`.
 */
@media (min-width: 1180px) {
  .side-note {
    --side-note-width: 240px;

    top: var(--size-400);
    position: absolute;
    right: calc(-1 * (var(--side-note-width) + var(--size-500)));
    width: var(--side-note-width);
    border-bottom: none;
  }
}

/* Text */

a {
  color: var(--color-highlight);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a > dfn {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--base-font);
  font-weight: var(--font-weight-bold);
  line-height: 1.65;
  color: var(--color-text);
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  margin: 0 0 var(--size-500) 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.17rem;
}

h5 {
  font-size: 1rem;
}

strong {
  font-weight: var(--font-weight-bold);
}

em {
  font-style: italic;
}

.emphasize {
  font-style: normal;
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

p,
blockquote {
  font-family: var(--base-font);
  font-size: 1.3rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  line-height: 1.65;
  margin: 0 0 var(--size-500) 0;
  padding: 0;
}

blockquote {
  font-style: italic;
  margin: 0;
  border-left: var(--size-300) solid var(--color-grey-300);
}

body.dark-mode blockquote {
  border-left: var(--size-300) solid var(--color-grey-700);
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-left: var(--size-300) solid var(--color-grey-700);
  }

  body.light-mode blockquote {
    border-left: var(--size-300) solid var(--color-grey-300);
  }
}

blockquote p {
  margin: 0 0 0 var(--size-500);
}

ul,
ol {
  margin: 0 0 0 var(--size-600);
  padding: 0;
}

ul li,
ol li {
  font-family: var(--base-font);
  font-size: 1.3rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

ul li:last-child,
ol li:last-child {
  margin: 0 0 var(--size-500) 0;
}

ul ul li:last-child,
ul ol li:last-child,
ol ul li:last-child,
ol ol li:last-child {
  margin: 0;
}

figure {
  margin: 0 0 var(--size-500) 0;
  padding: 0;
}

figcaption,
.side-note p,
.callout p {
  color: var(--color-text-secondary);
  font-family: var(--base-font);
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

img + figcaption,
picture + figcaption,
pre + figcaption,
video + figcaption,
[data-compare-image] + figcaption {
  text-align: center;
}

blockquote + figcaption {
  text-align: right;
}

picture {
  margin: 0 calc(-1 * var(--size-500));
  display: block;
}

picture + figure,
picture + p {
  margin-top: var(--size-500);
}

@media (min-width: 660px) {
  picture {
    margin: 0;
  }
}

img,
video {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

body.dark-theme img {
  filter: brightness(0.9) contrast(1.05);
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.9) contrast(1.05);
  }

  body.light-theme img {
    filter: brightness(1) contrast(1);
  }
}

address {
  font-style: italic;
}

hr {
  margin: var(--size-500) 0;
  height: 0;
  border: none;
  border-bottom: 1px solid var(--color-grey-500);
}

.ipa {
  border-bottom: 1px dotted var(--color-highlight);
}

kbd > kbd {
  background-color: var(--color-grey-200);
  border-radius: 3px;
  border: 1px solid var(--color-grey-500);
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: var(--color-grey-900);
  display: inline-block;
  font-size: 0.8em;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/* Article */

article {
  border-bottom: 1px solid var(--color-grey-500);
  padding: var(--size-500) 0;
  margin: 0 0 var(--size-500) 0;
}

article:last-child {
  border: 0;
  margin: 0;
}

article:first-child {
  padding-top: 0;
}

article footer {
  /* Negate size, this will move it closer to the headline by keeping the general spacing. */
  margin-top: calc(-1 * var(--size-500));
}

article footer p {
  font-size: 1rem;
}

article.disabled h3,
article.disabled p {
  color: var(--color-text-dark);
}

.optional {
  color: var(--color-text-secondary);
}

.badge {
  font-size: 1rem;
  font-family: var(--base-font);
  font-weight: var(--font-weight-normal);
  line-height: 1;
  background: var(--color-highlight);
  color: var(--color-high-contrast);
  display: inline-block;
  border-radius: var(--size-300);
  padding: var(--size-300) var(--size-400);
  margin: 0;
}

.badge a {
  color: inherit;
}

/* Image comparison component */

[data-compare-image] {
  --stroke-width: 2px;
  --circle-size: 45px;

  position: relative;
  overflow: hidden;
  cursor: col-resize;
  margin: 0 calc(-1 * var(--size-500));
}

.no-user-select {
  user-select: none;
  -webkit-user-select: none;
}

[data-compare-image] picture {
  margin: 0;
}

@media (min-width: 660px) {
  [data-compare-image] {
    margin: 0;
  }
}

[data-compare-image] .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-out 0ms;
}

[data-compare-image] .theme-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  transition: all 0.1s ease-out 0s;
  z-index: 5;
}

[data-compare-image] .image {
  pointer-events: none;
  user-select: none;
  max-width: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  top: 0;
  display: block;
}

[data-compare-image] .image-a {
  height: auto;
  position: static;
  z-index: 1;
  left: 0;
}

[data-compare-image] .image-b {
  height: 100%;
  position: absolute;
  z-index: 2;
  left: auto;
  right: 0;
  width: auto;
}

[data-compare-image] .wrapper {
  position: absolute;
  width: 100%;
  height: 100% !important;
  right: 0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 3;
}

[data-compare-image] svg {
  transform: scale(1.5);
}

[data-compare-image] .circle {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: var(--stroke-width) solid white;
  width: var(--circle-size);
  height: var(--circle-size);
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 50%;
}

[data-compare-image] .control {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 50px;
  top: 0;
  z-index: 5;
}

[data-compare-image] .control-line {
  height: 50%;
  width: var(--stroke-width);
  z-index: 6;
}

[data-compare-image] .arrow-wrapper:first-child {
  transform: rotate(180deg) translateX(-11px);
}

[data-compare-image] .arrow-wrapper:last-child {
  transform: translateX(-11px);
}

[data-compare-image]:hover .arrow-wrapper {
  transform: translateX(-4px);
}

[data-compare-image]:hover .arrow-wrapper:first-child {
  transform: rotate(180deg) translateX(-4px);
}

/* Code block compatible with highlight.js */

.hljs {
  --color-code-attribute: #aa5d00;
  --color-code-symbol: green;
  --color-code-keyword: #7928a1;
  --color-code-class: #d91e18;
  --color-code-title: #007faa;
}

body.dark-theme .hljs {
  --color-code-attribute: #f5ab35;
  --color-code-symbol: #abe338;
  --color-code-keyword: #dcc6e0;
  --color-code-class: #ffa07a;
  --color-code-title: #00e0e0;
}

@media (prefers-color-scheme: dark) {
  .hljs {
    --color-code-attribute: #f5ab35;
    --color-code-symbol: #abe338;
    --color-code-keyword: #dcc6e0;
    --color-code-class: #ffa07a;
    --color-code-title: #00e0e0;
  }

  body.light-theme .hljs {
    --color-code-attribute: #aa5d00;
    --color-code-symbol: green;
    --color-code-keyword: #7928a1;
    --color-code-class: #d91e18;
    --color-code-title: #007faa;
  }
}

p code,
li code {
  font-size: 1rem;
  padding: 0.05rem;
  vertical-align: middle;
  background-color: var(--color-low-contrast);
}

pre code.hljs {
  font-family: monospace;
  font-size: 0.8rem;
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem 0;
  color: var(--color-text);
  border-top: 1px solid var(--color-grey-500);
  border-bottom: 1px solid var(--color-grey-500);
}

@media (min-width: 660px) {
  pre code.hljs {
    padding: 1rem;
    font-size: 1rem;
  }
}

.hljs-comment,
.hljs-quote {
  color: var(--color-text-dark);
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: var(--color-code-class);
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: var(--font-weight-bold);
}

.hljs-attribute,
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: var(--color-code-attribute);
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: var(--color-code-symbol);
}

.hljs-section,
.hljs-title {
  color: var(--color-code-title);
  font-weight: var(--font-weight-bold);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--color-code-keyword);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--font-weight-bold);
}
